<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>88472507097-tqftindn4h6h3k8qga1hsdahi1ppmaug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88472507097-tqftindn4h6h3k8qga1hsdahi1ppmaug</string>
	<key>API_KEY</key>
	<string>AIzaSyAhkI6h-hsV0gAatSUY7T9EM1gokYNdQ5s</string>
	<key>GCM_SENDER_ID</key>
	<string>88472507097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moveonline.emissor</string>
	<key>PROJECT_ID</key>
	<string>moveonline-cc162</string>
	<key>STORAGE_BUCKET</key>
	<string>moveonline-cc162.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88472507097:ios:d4f6a174a440ae28</string>
	<key>DATABASE_URL</key>
	<string>https://moveonline-cc162.firebaseio.com</string>
</dict>
</plist>